header h1{
    padding: 10px 20px;
}

body {
    max-width: 970px;
}

/* Style the main content */
.main {
  margin-left: 160px;
  /* Same as the width of the sidenav */
  padding: 0px 10px;
}

.subjects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.subject {
  border: 1px solid lightgray;
  border-radius: 10px;
  margin: 2rem;
  padding: 1rem;
}
.navbar {
 padding-left: 2dp;
 padding-right: 2dp;
 width: 0dp;
 color: darkblue;}